# PANDAS: Python Data Analysis Library
Ask [chatGPT](https://openai.com/blog/chatgpt) the following question:
"can I say that PANDAS  (from Python) is a spreadsheet emulator?"
Read the answer.

## From dictionary to dataframe
La estructura de datos ```dictionary``` ya es conocida por nosotros.

Pandas tiene dos estructuras de datos importantes.

* Dataframe. En esta clase la examinamos
* Series. Es unidimensional, es como una extension de los NumPY arrays.

In [2]:
from pandas import DataFrame

# construyamos un diccionario
Cars = {'Marca':['Honda Civic', 'Ford Focus', 'Toyota Corolla', 'Audi A4'], 
        'Precio':[88000, 84000, 100000, 120000],
        'Año':[2014, 2015, 2016, 2017],
        'Puertas':[2, 4, 4, 2]}

# convertimos el diccionario a un dataframe
dfCars = DataFrame(Cars, columns=['Marca', 'Precio', 'Año', 'Puertas'])
dfCars

            Marca  Precio   Año  Puertas
0     Honda Civic   88000  2014        2
1      Ford Focus   84000  2015        4
2  Toyota Corolla  100000  2016        4
3         Audi A4  120000  2017        2

## Estadisticas basicas

In [17]:
dfCars[:3]  # slicing

            Marca  Precio   Año  Puertas
0     Honda Civic   88000  2014        2
1      Ford Focus   84000  2015        4
2  Toyota Corolla  100000  2016        4

In [18]:
 dfCars[:3].describe()

              Precio     Año   Puertas
count       3.000000     3.0  3.000000
mean    90666.666667  2015.0  3.333333
std      8326.663998     1.0  1.154701
min     84000.000000  2014.0  2.000000
25%     86000.000000  2014.5  3.000000
50%     88000.000000  2015.0  4.000000
75%     94000.000000  2015.5  4.000000
max    100000.000000  2016.0  4.000000

In [34]:
dfCars[["Precio","Puertas"]].describe()

              Precio   Puertas
count       4.000000  4.000000
mean    98000.000000  3.000000
std     16165.807537  1.154701
min     84000.000000  2.000000
25%     87000.000000  2.000000
50%     94000.000000  3.000000
75%    105000.000000  4.000000
max    120000.000000  4.000000

In [22]:
dfCars.iloc[:,2]  # todas las filas columna 2 (3)

0    2014
1    2015
2    2016
3    2017
Name: Año, dtype: int64

In [24]:
dfCars['Año']

0    2014
1    2015
2    2016
3    2017
Name: Año, dtype: int64

In [26]:
stats_price = dfCars['Precio'].describe()
stats_price

count         4.000000
mean      98000.000000
std       16165.807537
min       84000.000000
25%       87000.000000
50%       94000.000000
75%      105000.000000
max      120000.000000
Name: Precio, dtype: float64

## Four different ways to compute the mean

In [28]:
# directamente usando Pandas
mean = dfCars['Precio'].mean()
print("mean directly from the dataframe is", mean)

mean = stats_price[1]
print("mean from using arrays and pandas 'describe' ", mean)

# usando alphabetical keys
mean = stats_price['mean']
print("mean using pandas array with the key 'mean' ", mean)

# usando NumPY
import numpy as np
mean  = np.mean( dfCars['Precio'])
print("mean using NumPY", mean)

mean directly from the dataframe is 98000.0
mean from using arrays and pandas 'describe'  98000.0
mean using pandas array with the key 'mean'  98000.0
mean using NumPY 98000.0

## Slicing: Rebanar.

Vamos a usar la sintaxis the ```numpy array```.  Solo dos indices.

Syntaxis:
```
A[:,:]   # todo
A[:,1]  # la primera columna
A[1,:]  # la primera fila
A[a:b:c, e:f:d]  #desde la fila a hasta la b con incrementos de c
# desde la columna e hasta la f con incrementos de d
```

En Pandas se pueden usar ```keys```. Por ejemplo ```Precio```.

In [29]:
marcas = dfCars['Marca']
print(marcas)

0       Honda Civic
1        Ford Focus
2    Toyota Corolla
3           Audi A4
Name: Marca, dtype: object

In [30]:
df2 = marcas.to_string(index=False)
print(df2)

   Honda Civic
    Ford Focus
Toyota Corolla
       Audi A4

In [31]:
marcas = dfCars.iloc[:, 0 ]  # la columna 0 (es la primera)
marcas

0       Honda Civic
1        Ford Focus
2    Toyota Corolla
3           Audi A4
Name: Marca, dtype: object

In [35]:
marcaPuertas = dfCars[["Marca", "Puertas"]]
marcaPuertas

            Marca  Puertas
0     Honda Civic        2
1      Ford Focus        4
2  Toyota Corolla        4
3         Audi A4        2

In [37]:
precioAPuertas = dfCars.loc[:, 'Precio': 'Puertas']
precioAPuertas

   Precio   Año  Puertas
0   88000  2014        2
1   84000  2015        4
2  100000  2016        4
3  120000  2017        2

In [39]:
precioAPuertas1 = dfCars.loc[1:2, 'Precio': 'Puertas']  # filas 1 a 2 inclusive (loc)
precioAPuertas1

   Precio   Año  Puertas
1   84000  2015        4
2  100000  2016        4

In [58]:
precioAPuertas1 = dfCars.iloc[1:2,:]  # filas 1 a 2 inclusive (loc)
precioAPuertas1

        Marca  Precio   Año  Puertas
1  Ford Focus   84000  2015        4

In [41]:
# puertas de Honda Civic
phc= dfCars.iloc[0,3]  #iloc es puramente numerico
phc

2

In [44]:
# brincar por filas
dfCars.iloc[0:3:2, :]  # filas 0 hasta 2 con incrementos de 2, columnas todas

            Marca  Precio   Año  Puertas
0     Honda Civic   88000  2014        2
2  Toyota Corolla  100000  2016        4

In [45]:
dfCars.iloc[0,0]

'Honda Civic'

In [47]:
dfCars.loc[0,'Marca']

'Honda Civic'

In [55]:
# rango de columnas de la 0 a la 2
dfCars.iloc[:, 0:3]

            Marca  Precio   Año
0     Honda Civic   88000  2014
1      Ford Focus   84000  2015
2  Toyota Corolla  100000  2016
3         Audi A4  120000  2017

## Seleccionamos filas

In [59]:
firstRow = dfCars.loc[0, :]
firstRow

Marca      Honda Civic
Precio           88000
Año               2014
Puertas              2
Name: 0, dtype: object

In [60]:
# filas 2 a la cuatro (de la primera a la tercera)
secondtoFourth = dfCars.loc[1:4, :]
secondtoFourth

            Marca  Precio   Año  Puertas
1      Ford Focus   84000  2015        4
2  Toyota Corolla  100000  2016        4
3         Audi A4  120000  2017        2

In [61]:
secondtoFourthc = dfCars.iloc[1:4, :]
secondtoFourthc

            Marca  Precio   Año  Puertas
1      Ford Focus   84000  2015        4
2  Toyota Corolla  100000  2016        4
3         Audi A4  120000  2017        2

## subsets

In [62]:
toyToAudi = dfCars.iloc[1:3, 2:4]
3toyToAudi

    Año  Puertas
1  2015        4
2  2016        4

## DataFrame Styling.
Muchas de estas cosas las saque de ejemplos en la Web.
"from 10 python tips and pandas stunning dataframe"
Los modifique.

In [66]:
import pandas as pd

# colores de valores negativos
def color_negative_red(val):
    color = 'red' if val<0 else 'black'
    return 'color: %s' %color

df = pd.DataFrame( dict(col_1 = [1.53, -2.5, 3.53], 
                        col_2 = [-4.1, 5.9, 0 ]))

df.style.applymap(color_negative_red)

In [74]:
# hover yellow along the table
df = pd.DataFrame( np.random.randn(5,3)) # matrix de 5 filas y 3 columnas

df.style.set_table_styles(
    [{'selector': 'r.hover',
      'props': [('color', 'yellow')]}]
)

In [78]:
# este es mas complicado
df.style.set_table_styles(
    [{'selector':'th', 
      'props':[('background', 'blue'),
               ('color', 'white'),
               ('font-family', 'verdana')]},
     
     {'selector': 'td',
     'props' : [('font-family', 'verdana')]},

     {'selector': 'tr-nth-of-type(odd)', 
      'props':[('background', 'green')]},
     
     {'selector': 'tr-nth-of-type(even)', 
      'props' :[('background', 'white')]}
    ]
).hide()

In [80]:
# introduzcamos numeros nan
df.iloc[2,2] = np.nan
df.iloc[1,1] = np.nan

df

          0         1         2
0 -0.350695 -2.537429 -0.203023
1  0.242781       NaN -0.788277
2 -1.338207 -0.806728       NaN
3 -0.110106  0.821389 -0.566227
4  0.493085  2.746706  1.647830

In [81]:
df.style.hide()

In [82]:
# busquemos los nan
df.style.highlight_null(null_color="green")

<ipython-input-82-877d878ef1ce>:2: FutureWarning: `null_color` is deprecated: use `color` instead
  df.style.highlight_null(null_color="green")

In [84]:
s = df.style  # un alias
s.applymap( lambda x: 'color:green' if pd.isnull(x) else '')

In [87]:
# hallar maximos y minimos

def highlight_max(s):
    is_max = s == s.max()
    return['background-color: yellow' if v else '' for v in is_max]  

with pd.option_context('display.precision', 2):
    html = (df.style.applymap(color_negative_red).apply(highlight_max))

html

## Math on dataframes

In [89]:
df['col_total'] = df.apply( lambda x: x.sum(), axis=1)  # suma por filas
df.loc['row_total'] = df.apply(lambda x: x.sum())  # por defecto suma por columas
df

                  0         1         2  col_total
0         -0.350695 -2.537429 -0.203023  -3.091147
1          0.242781       NaN -0.788277  -0.545497
2         -1.338207 -0.806728       NaN  -2.144935
3         -0.110106  0.821389 -0.566227   0.145055
4          0.493085  2.746706  1.647830   4.887620
row_total -1.063142  0.223937  0.090302  -0.748903

In [91]:
np.abs(df)

                  0         1         2  col_total
0          0.350695  2.537429  0.203023   3.091147
1          0.242781       NaN  0.788277   0.545497
2          1.338207  0.806728       NaN   2.144935
3          0.110106  0.821389  0.566227   0.145055
4          0.493085  2.746706  1.647830   4.887620
row_total  1.063142  0.223937  0.090302   0.748903

In [92]:
np.exp(df)

                  0          1         2   col_total
0          0.704198   0.079069  0.816260    0.045450
1          1.274789        NaN  0.454627    0.579554
2          0.262316   0.446316       NaN    0.117076
3          0.895739   2.273655  0.567663    1.156104
4          1.637359  15.591184  5.195691  132.637535
row_total  0.345369   1.250992  1.094505    0.472885

In [93]:
np.sqrt(df)

/usr/local/lib/python3.10/dist-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in sqrt
  result = func(self.values, **kwargs)

                  0         1         2  col_total
0               NaN       NaN       NaN        NaN
1          0.492728       NaN       NaN        NaN
2               NaN       NaN       NaN        NaN
3               NaN  0.906305       NaN   0.380861
4          0.702200  1.657319  1.283678   2.210796
row_total       NaN  0.473220  0.300503        NaN

In [94]:
np.sqrt(df[:1])

/usr/local/lib/python3.10/dist-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in sqrt
  result = func(self.values, **kwargs)

    0   1   2  col_total
0 NaN NaN NaN        NaN

In [96]:
df = pd.DataFrame( np.random.randn(5,3)) # matrix de 5 filas y 3 columnas
df

          0         1         2
0  1.558234 -1.250265 -1.468101
1  0.328279  0.235364  0.419393
2  0.573357 -0.447822 -0.522703
3  0.492434  0.608561 -1.196233
4 -0.101261 -0.333747 -0.103134

In [100]:
df[:1]  # primera fila

          0         1         2
0  1.558234 -1.250265 -1.468101

In [101]:
np.sqrt(df[:1])

/usr/local/lib/python3.10/dist-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in sqrt
  result = func(self.values, **kwargs)

          0   1   2
0  1.248292 NaN NaN

In [103]:
df['col_total'] = df.apply( lambda x: x.sum(), axis=1)  # suma por filas
df.loc['row_total'] = df.apply(lambda x: x.sum())  # por defecto suma por columas
df

                  0         1         2  col_total
0          1.558234 -1.250265 -1.468101  -1.160132
1          0.328279  0.235364  0.419393   0.983036
2          0.573357 -0.447822 -0.522703  -0.397168
3          0.492434  0.608561 -1.196233  -0.095238
4         -0.101261 -0.333747 -0.103134  -0.538143
row_total  2.851043 -1.187909 -2.870778  -1.207643

In [105]:
np.sqrt(np.abs(df['col_total']))  # valor absoluto y raiz cuadrada en col total

0            1.077094
1            0.991482
2            0.630212
3            0.308606
4            0.733582
row_total    1.098928
Name: col_total, dtype: float64

## Export a excel (CSV: Comma separated values

In [109]:
from google.colab import files
df.to_csv('output.csv', encoding='utf-8-sig')
files.download('output.csv')

In [110]:
ls

output.csv  sample_data/